
body{
	background-image: url('../../img/UI/Card_background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

h3{ 
	color: white;
    font-family: "Microsoft JhengHei", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    font-weight: 500;
	text-shadow: #010101 0 5px 8px;
	text-shadow: #010101 5 0px 8px;
}

.img-gray{
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
.fst-td{
	width: 120px;
}
