body{
    background-image: url('../../img/UI/Card_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
}
#title{
    color: black;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 50px;
}

#main_workplace{
    background: white;
}
#main_workplace .teamLabel{
    color: black;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 20px;
}

#dragContainment{
    background-image: url('../../img/UI/base.png');
    background-size: 320px 320px;
    background-repeat: repeat;
}
#dragContainment td{
    cursor: url('../../img/UI/cursor_moveItem.png'), default;
    width: 80px;
    height: 80px;
}
#dragContainment img{
    width: 80px;
    height: 80px;	
}
#dragContainment img.over{
    position: absolute;
    z-index: 3;
}
#dragContainment img.under{
    position: relative;
    z-index: 2;
    opacity: 0.3;
    filter: alpha(opacity=30); 
}

.img-gray{
    filter: grayscale(40%); 
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}

#dragCanvas{ 
    position: absolute;
    z-index: 10;
}
#timeLifeIcon{
    height: 64px;
    width: 64px;
    position: relative;
    z-index: 3;
}
#timeLifeRect{
    background-image: url('../../img/UI/lifeclip.png');
    background-size: cover;
    position: absolute;
    z-index: 2;
}
#timeLifeBack{
    background: black;
    position: absolute;
    z-index: 1;
}

#panelControl img{
    width: 50px;
    height: 50px;   
}
#panelControl img.mouseImg{
    position: absolute;
    z-index: 256;
    width: 50px;
    height: 50px;
    opacity: 0.3;
}
#panelColorSelect{
    width: 50px;
    height: 50px;
}

#comboDiv{
    border-radius: 30px;
    background: #151515;
    width: 300px;
    height: 520px;
}
#comboHit{    
    color: white;
    font-family:  "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    font-weight: 200;
    font-size: 2em;
}
#extraCombo{
    color: white;
    font-family:  "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    font-weight: 200;
    font-size: 20px;
}
#Scrollbar{
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 400px;
}
#comboBox img.comboBox{
    background: rgba(0%,0%,0%,0);
    width: 40px;
    height: 40px;   
}
#comboBox div.imgComboSet{ 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;  
}
#comboBox div.comboLabel{ 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 30px;
}

#HorizontalScrollbar{
    background: LightGray;
    border-radius: 10px;
    width: 400px;
    height: 110px;
}
#HorizontalScrollbar img{
    cursor: pointer;
    border-radius: 10px;
    background: DarkGray ;
    height: 60px;
}
#HorizontalScrollbar .addNewColor{
    cursor: pointer;
    border-radius: 10px;
    background: DarkGray;
    width: 90px;
    height: 60px;
}
#HorizontalScrollbar .addNewColor span{
    margin-top: 20px;
}

#TeamMember{
    cursor: default;
    border-collapse: collapse;
    border: 1px solid Gray;
}
#TeamMember select{
    width: 120px;
}
#TeamMember td{
    height: 30px;
    width: 120px;
    border: 1px solid Gray;
}
#TeamMember img{
    width: 80px;
}
#AttackNumber td{
    background: PaleTurquoise;
}
#RecoverNumber td{
    background: LightPink;
}
#ActiveButtonTD td{
    background: Ivory;
    border: none;
}
#ActiveCoolDownTD td{
    background: Ivory;
}
.AtkRecLabel, .EffectLabel{
    color: black;
    margin-left: 10px;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 16px;
}
.CDTimeLabel{
    color: black;
    margin-left: 10px;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 18px;
}
.activeButton{
    cursor: pointer;
    width: 120px;
    min-height: 30px;
    display: inline-block;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    overflow: hidden;
    background-image: none;
    border: 1px solid gray;
    border-radius: 14px;
}
.activeButton[disabled]{
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
}
#AdditionalEffectTD td{
    height: 30px;
    width: 720px;
    background: Ivory;
    border: 1px solid Gray;
}

#SystemInfomation{
    cursor: default;
    border-collapse: collapse;
    background: #EFEFEF;
}
#SystemInfomation th{
    width: 100px;
    border: 1px solid Gray;
    color: black;
}
#SystemInfomation td{
    width: 130px;
    border: 1px solid Gray;
    color: black;
}
#SystemInfomation th span{
    margin-left: 10px;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 18px;
}
#BattleInfomationScrollbar{
    width: 750px;
    height: 200px;
    background: white;
}
span.labelInfo{
    cursor: pointer;
    margin-left: 10px;
    font-family: "Microsoft JhengHei", Helvetica, Arial, Sans;
    font-size: 16px;
}